body { margin: 0px; background-color:#244354; }
.wrapperbg{margin:0 auto; padding-top:1%; width:100%; height:100%; padding-bottom:65px; background:url(images/043_wrapperbg.jpg) #244354;}
.wrapper{margin:0 auto; width:980px; height:100%;  background:#e2cfc0; position: relative; }
/*高度填滿*/
.wrapper:after{
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
}

.ksdown_pc{margin:0;padding:0;width:100%;height:auto;}

a{
    outline: none; /* for Firefox Google Chrome 消除連結框 */
    behavior:expression(this.onFocus=this.blur()); /* for IE */
}
img{border:0;}

/*TOP鈕*/
#back-top {	position: fixed; bottom: 10%; right: 5%; z-index:99;}
#back-top a { width: 60px; height:60px; border-radius: 5px; display: block; text-align: center;	background:#7a513a; }
#back-top a:hover {	opacity:0.6;}
#back-top img{ width:100%;}

/*------------------- 刊頭 ----------------------*/
.head{ height:100vh; position: relative; }
.headbg { width:100%; height:100%; background:transparent url(images/043_headbg.jpg) no-repeat center; background-size:cover; }
.headbg img { display:none;}
.datearea{ color: #fff; margin: 0 ; font-size: 0.8em; font-family: "微軟正黑體" , "Arial"; text-align:left; position:absolute; top:7px; left:10px;}
img.headtitle{ position:absolute; top:9%; left:30%; margin:0 auto; width:40%;}
.headmenu{ width:850px; margin:0 auto 0 -412px; position:absolute; bottom:10%; left:50%; }
.headmenu img{ margin:1% 1.2%; float:left; }
.headmenu a:hover > img { position:relative; top:1px; left:1px;}


/*------------------------------- a2_area 推理情報交換 ------------------------------------*/
#a2_area{ height:930px; margin:2% 0 0 0; position: relative;}
#a2_area .title01{ position: relative; left:1.5%; z-index:3;}
#a2_area .themepic1{ position: absolute; right:0; top:-80px; z-index:1;}
/*------------------- 主題x10 -------------------*/
.themeMenu{ position: relative; width:80%; margin:2% 0 0 2%; float:left; }
#a2_area .themebg{ position: absolute; top:7%; left:-5px; z-index:1; overflow:hidden;}
.tpicAll{position: absolute; top:0; z-index:3; }
.tpic01 img{ float:left; margin:0 7px 9px 0;
-moz-transition: 0.5s;-webkit-transition: 0.5s;-o-transition: 0.5s;-ms-transition: 0.5s;}
.tpic02 img{ float:left; margin:4% 0 2% 0;
-moz-transition: 0.5s;-webkit-transition: 0.5s;-o-transition: 0.5s;-ms-transition: 0.5s;}
.tpic01 img:hover,
.tpic02 img:hover{ -moz-transform: scale(1.1);-webkit-transform: scale(1.1);-o-transform: scale(1.1);-ms-transform: scale(1.1);}
.tpic01, .tpic02{ clear:both; }
/*---------------- 排行榜 ---------------------*/
.boardArea{ position: relative; margin:-10px 0 0 0; float:right; }
.boardArea .board01 { position: absolute; top:0; }
.boardArea .board02 { position: absolute; top:405px; }
.boardbg01{ position: absolute; top:0; right:15px; z-index:3; }
.billboard h3{ display:none;}
.billboard{ width: 160px; margin:1% auto 0; padding:0; font-family:"微軟正黑體"; position: absolute; top:45px; right:33px; z-index:4;}

.billboard .billboardunit1{ width:100%; margin:0 auto 6px auto; }
.billboardunit1 .coverregion{margin:0 auto 4px auto;width:100%; text-align:center;}
.coverregion img{width:auto;height:194px;}
.billboardunit1 .booktitle{margin:0 ;width:100%;height:1.3em;font-size:1em;color:#d40527;font-weight:bold;overflow:hidden;}

.billboard .billboardunit2{ width:100%; margin:0 auto; }
.billboardunit2 .booktitle{margin:0 0 4px 0; padding:0;width:100%; height:1.3em;font-size:0.9em;color:#243b6a;font-weight:bold; overflow:hidden;}

.billboardunit1 .booktitle a:link,
.billboardunit1 .booktitle a:visited{color:#d40527;text-decoration:none;}
.billboardunit1 .booktitle a:hover,
.billboardunit1 .booktitle a:active{color:#d40527;text-decoration:underline;}
.billboardunit2 .booktitle a:link,
.billboardunit2 .booktitle a:visited{color:#243b6a;text-decoration:underline;}
.billboardunit2 .booktitle a:hover,
.billboardunit2 .booktitle a:active{color:#243b6a;text-decoration:none;}
/*--------------------------------------------------------------------------------------*/


/*------------------------------- a3_area 情報提供者 ------------------------------------*/
#a3_area{ height:100%; margin:0; position: relative; top:30px;}
#a3_area .title02{ position: relative; left:1.5%; z-index:3;}
#a3_area .title02_m{ display:none;}
#a3_area .compic1{ position: absolute; right:35px; top:-120px; z-index:2;}
#a3_area .compic2{ position: absolute; left:35%; top:40px; z-index:2;}
/*---------------- 書評 -------------------*/
.comment_area{ width:98%; margin:2% auto 0 auto; padding:0; font-family:"微軟正黑體"; position: relative; z-index:3;}
.commentbox{float:left; width:47%; margin:0 1.5%;}
.commentbox .bookcolumn{margin:0 3% 0 0;padding:0;width:36%;float:left;}
.bookcolumn img{width:100%;height:auto;}

.book_data { width: 61%; float:left;}
.book_data .booktitle{margin:0 0 3px 0;padding:0;width:100%;font-size:1.1em;color:#d00140;font-weight:bold;}
.book_data .author{margin:0 0 3px 0;padding:0;width:100%;font-size:0.9em;color:#524848; font-weight:bold;}
.book_data .idname{margin:0 0 8px 0;padding:0;width:100%;font-size:0.9em;color:#666;}
.book_data .comment{margin:0;padding:0;width:100%;font-size:0.95em;color:#3e2624;line-height:1.45em; font-weight:bold;}

.book_data .booktitle a:link,
.book_data .booktitle a:visited{color:#d00140;text-decoration:underline;}
.book_data .booktitle a:hover,
.book_data .booktitle a:active{color:#d00140;text-decoration:none;}
.author a:link,
.author a:visited{color:#114fab;text-decoration:none;}
.author a:hover,
.author a:active{color:#114fab;text-decoration:underline;}
.idname a:link,
.idname a:visited{color:#666;text-decoration:underline;}
.idname a:hover,
.idname a:active{color:#666;text-decoration:none;}
a.more:link,
a.more:visited{color:#b30707; font-weight:bold;text-decoration:underline;}
a.more:hover,
a.more:active{color:#b30707; font-weight:bold;text-decoration:none;}
/*--------------------------------------------------------------------------------------*/


/*------------------------------- a4_area 無料情報放送 -----------------------------------*/
#a4_area{ height:100%; margin:0 auto 50px auto; position: relative; top:65px;}
#a4_area .title03{ position: relative; left:1.5%; z-index:3;}
#a4_area .title03_m{ display:none;}
#a4_area .fbpic1{ position: absolute; left:0; top:190px; z-index:1;}
#a4_area .fbpic2{ position: absolute; right:20px; top:170px; z-index:1;}

#a4_area .fb01{ position: relative; z-index:2;}
#a4_area .fb01_m{ display: none;}
#a4_area .fb02{ position: relative; left:185px; top:-57px; z-index:3;}
img.fb02{ width:179px;}
#a4_area .bnArea{ width:540px; height:250px; position: absolute; right:35px; top:355px; z-index:3; }



/*====================================================================================================================================*/
@media screen and (max-width:767px) {
.wrapperbg { padding:0; width:100%; height:auto; background:none;}
.wrapper { width:100%; margin:0 auto; height:auto; position:relative; background:#e2cfc0; }
.ksdown_pc { display:none;}
/*高度填滿*/
.wrapper:after{display: none;}

/*TOP鈕*/
#back-top {	position: fixed; bottom: 2%;right: 3%; z-index:99;}
#back-top a { width: 40px; height:40px; border-radius: 5px; display: block; text-align: center;	background:#7a513a; opacity:0.8;}

/*------------------- 刊頭 ----------------------*/
.head{ height:auto; position: relative;}
.headbg { background:none;}
.headbg img { display:block; width:100%;}
.datearea{ width:100%; margin:0 auto; position: absolute; top:0.5%; left:0; text-align:center;}
img.headtitle{ position:absolute; top:8%; left:5%; margin:0 auto; width:90%;}

.headmenu{ width:40%; margin:0 auto ; position:absolute; bottom:7%; left:30%; }
.headmenu img{ margin:2% 2%; float:left; width:95%;}

/*------------------------------- a2_area 推理情報交換 ------------------------------------*/
#a2_area{ width:100%; height:100%; margin:3% auto; position: relative; }
img.title01{ width:98%;}
img.themepic1{ opacity:0.9; width:90%;}
/*------------------- 主題x10 -------------------*/
.themeMenu{ position: relative; width:98%; margin:2% 0 0 2%; float:none; clear:both; z-index:4;}
#a2_area .themebg{ position: absolute; top:5%; left:0; z-index:1; width:100%; overflow:hidden; }
.tpicAll{ position: static; }
.tpic01 img{ float:left; -webkit-transition: 0.5s; margin:0 3px 9px 0;}
/*---------------- 排行榜 ---------------------*/
.boardArea{ position: relative; margin:4% auto 0 auto; text-align:center; float:none; clear:both; width:100%; z-index:4;}
.boardArea .board01 { position: static; width:43%; border:2px solid #333; background-color:#f9f3ef; margin:0 0.7%; padding:1%; display:inline-block;}
.boardArea .board02 { position: static; width:43%; border:2px solid #333; background-color:#f9f3ef; margin:0 0.7%; padding:1%; display:inline-block;}
img.boardbg01{ display:none;}
.billboard{ width: 100%; margin:1% auto 0; padding:0 1% 0 3%; font-family:"微軟正黑體"; position: static; text-align:left;}
.billboard h3{ display:block; margin:0 auto 1% auto; color:#b71740; text-align:center;}
.coverregion img{width:90%;height:auto;}
/*--------------------------------------------------------------------------------------*/


/*------------------------------- a3_area 情報提供者 ------------------------------------*/
#a3_area{ width:100%; height:100%; margin:3% auto; position: relative; top:0; overflow:hidden;}
#a3_area .title02{ display: none;}
#a3_area .title02_m{ display: block; position: relative; left:1.5%; z-index:3;}
img.title02_m{  width:98%; }
#a3_area .compic1{ position: absolute; right:-45%; top:-15%; z-index:1; }
#a3_area .compic2{ position: absolute; left:35%; top:40px; z-index:1;}
/*---------------- 書評 -------------------*/
.comment_area{ width:98%; margin:1% auto 0 auto; padding:0; font-family:"微軟正黑體"; position: relative; z-index:3;}
.commentbox{float:none; clear:both; width:97%; margin:0 1.5% 0 1.5%;}
.commentbox .bookcolumn{margin:0 3% 3% 0;padding:0;width:36%;float:left;}
.book_data { width: 61%; float:left; margin:0 0 3% 0;}
.book_data .booktitle{font-size:1em;}
/*--------------------------------------------------------------------------------------*/


/*------------------------------- a4_area 無料情報放送 -----------------------------------*/
#a4_area{ height:100%; margin:3% auto 0; padding-bottom:3%; position: relative; top:0;}
#a4_area .title03{ display: none;}
#a4_area .title03_m{ display: block; position: relative; left:1.5%; z-index:3;}
img.title03_m{ width:98%; }
#a4_area .fbpic1{ position: absolute; left:0; top:-10%; z-index:1; width:90%; }
img.fbpic1{ opacity:0.7;}
#a4_area .fbpic2{ display: none;}

#a4_area .fb01{ display: none;}
#a4_area .fb01_m{ display: block; position: relative; width:98%; margin:0 auto; z-index:3;}
#a4_area .fb02{ position: static; width:96%; margin:0 1% 2% 2%; }
#a4_area .bnArea{ width:95%; height:auto; border:3px solid #333; background-color:#f9f3ef; padding:4px; position: static; margin:0 auto; }

}