body { margin: 0;  background:url(../images/049_bg.jpg) fixed #fff ;}
.pcfloor { width:100%;height:auto;margin:0;padding:0;}
a{
    outline: none; /* for Firefox Google Chrome 消除連結框 */
    behavior:expression(this.onFocus=this.blur()); /* for IE */
}

/* wrapper */
.wrapper{ width:100%; margin:0 auto; font-family:"微軟正黑體";}

/* TOP鈕 ----------------------*/
.topBtn { display:none; }
.TOindex { display:block; position:fixed; right:2%; bottom:2.5%; z-index:99;}
.TOindex:hover{ opacity:0.8;}
.index{ display:none;}

/* 刊頭 */
.head{ width:100%; height:531px; margin:0 auto; background:url(../images/brand_head_bg.png) center top no-repeat; position:relative;}
.head .headCenter{ width:1050px; margin:0 auto; position: absolute; left:0; right:0; z-index:1; text-align:center;}
.headCenter .title{ width:100%; margin:0 auto; position: absolute; right:3%; top:10%; z-index:2;}
.headCenter .date{ position:absolute; left:0; right:0; top:5%; font-size:14px; font-family: "Calibri","微軟正黑體"; color:#666; letter-spacing:0.2em; z-index:2; }

/* mycontent */
.mycontent{ width:1014px; margin:1.5% auto 0; }
.unitTitle{ width:980px; margin:0 auto 2%;}

/* cardArea優惠品牌 */
.cardArea{ width:100%; margin:0 auto; padding:3% 0; box-sizing:border-box; }
.card{ width:46.5%; margin:0 1.5% 3.5% 1.5%; padding:18px 25px; background:#3c8ed9/*暗紅底*/; box-sizing:border-box; border-radius:25px; text-align:left; display:inline-block;}
.card:nth-child(2), .card:nth-child(3), .card:nth-child(4n+2), .card:nth-child(4n+3){ background:#3cb4f2/*紅底*/; !important}
.card .cover{ width:100%; margin:0 auto 3%; text-align:center; }
.card p{ width: 100%; margin:0 auto 3%; font-size:20px; font-weight:bold; line-height:1.3em; letter-spacing:0.05em; color:#fff; text-align:center;}
hr{ margin:0 auto 2.5%; height:3px; border:none; border-top:3px solid #fee32e;}
.buyBN{ width:60%; margin:0 auto; padding:2.5% 0; color:#fff; font-size:23px; border-radius:50px; text-align:center; letter-spacing:0.08em;
background: #fc5fa7;
background: -moz-linear-gradient(top, #fc5fa7 0%, #fc5fa7 50%, #fe469a 50%, #fe469a 100%);
background: -webkit-linear-gradient(top, #fc5fa7 0%,#fc5fa7 50%,#fe469a 50%,#fe469a 100%);
background: linear-gradient(to bottom, #fc5fa7 0%,#fc5fa7 50%,#fe469a 50%,#fe469a 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc5fa7', endColorstr='#fe469a',GradientType=0 );
}
.card a{ text-decoration:none; color:#fff;}
.card a:hover{ position:relative; top:-3px;}

/* productArea 商品區*/
.productArea{ width:980px; margin:0 auto;}
.productArea .content1{ background-color:#ffebf0; padding-bottom:10px; margin-bottom:3%;}
.productArea .content2{ background-color:#d8f7cd; padding-bottom:10px; margin-bottom:3%;}
.productArea .content3{ background-color:#d0f1fe; padding-bottom:10px; margin-bottom:3%;}
.namebox_brand{ width:90%;height:2.6em;margin:10px auto 8px;padding:0;font:normal normal 20px/1.3 "微軟正黑體";text-align:center;overflow:hidden;}
.namebox_brand a{ color: #0047a2; text-decoration: none; font-weight: bold;}
.namebox_brand a:hover{ text-decoration:underline;}
.title_four_w_brand{ width:68px; height:413px; margin:-25px auto 0; font-family:"微軟正黑體"; font-size:60px; font-weight:bold; color:#ffffff; -webkit-writing-mode:vertical-lr; writing-mode:vertical-lr; text-align:center; display: flex; flex-direction: column; justify-content: center;}
span.price{ font-size:1.2em;}


/*===================================================================================================================================*/
@media screen and (min-width:768px) and (max-width:1023px) {
body { background-size:50% auto;}
.pcfloor { display:none;}

/* TOP鈕 ----------------------*/
.TOindex{ width:45px; margin:0 auto; background-color:rgba(24,182,184,0.75); border-radius:6px; position:fixed; right:2%; bottom:2.5%; text-align:center;}
.TOindex img{ display:none;}
.index{ display:block; margin:0 auto; padding:10%; color:#fff; font-size:12px; font-family:"微軟正黑體"; line-height:1.15em; }
.TOindex a{ text-decoration:none;}
.topBtn { display:block; border-bottom:1px dotted #FFFF66; background:#00a7a9; margin:0 auto; padding:14% 10%; font-family:Arial; font-size:1em; color:#fff; }

/* 刊頭 */
.head{ width:100%; height:auto; background:none; position:relative;}
.head .headCenter{ width:768px; position:relative;}
.headCenter .title{ right:0; top:14%;}
.headCenter .title img{ width:66%;}

/* mycontent */
.mycontent{ width:100%; }
.unitTitle{ width:100%;}

/* cardArea優惠品牌 */
.cardArea{ width:98%; padding:2%; }
.card{ width:47.5%; margin:0 1% 3% 1%; padding:18px; border-radius:20px;}
.card .cover{ width:100%;}
.card p{ font-size:18px; line-height:1.3em; }
.buyBN{ width:75%; padding:3% 0; font-size:20px; }

/* productArea 商品區*/
.productArea{ width:96%; }
.namebox_brand{ font:normal normal 14px/1.3 "微軟正黑體";}

}

/*====================================================================================================================================*/
@media screen and (max-width:767px) {
body { background-size:60% auto;}
.pcfloor { display:none;}

/* TOP鈕 ----------------------*/
.TOindex{ width:45px; margin:0 auto; background-color:rgba(24,182,184,0.75); border-radius:6px; position:fixed; right:2%; bottom:2.5%; text-align:center;}
.TOindex img{ display:none;}
.index{ display:block; margin:0 auto; padding:10%; color:#fff; font-size:12px; font-family:"微軟正黑體"; line-height:1.15em; }
.TOindex a{ text-decoration:none;}
.topBtn { display:block; border-bottom:1px dotted #FFFF66; background:#00a7a9; margin:0 auto; padding:14% 10%; font-family:Arial; font-size:1em; color:#fff; }

/* 刊頭 */
.head{ width:100%; height:auto; background:none; position:relative;}
.head .headCenter{ width:100%; margin:0 auto; position: relative; left:0; right:0; z-index:1; text-align:center;}
.headCenter .title{ right:0; top:12%;}
.headCenter .title img{ width:66%;}
.headCenter .date{ font-size:0.6em; top:3%}

/* mycontent */
.mycontent{ width:100%; }
.unitTitle{ width:100%;}

/* cardArea優惠品牌 */
.cardArea{ width:98%; padding:3%; }
.card{ width:98%; margin:0 auto 4%; padding:4%; border-radius:15px; display:block;}
.card:nth-child(odd){ background:#3c8ed9/*暗紅底_單數*/; !important}
.card:nth-child(even){ background:#3cb4f2/*紅底_偶數*/;  !important}
.card .cover{ width:100%;  }
.card p{ font-size:18px; line-height:1.3em; }
.buyBN{ width:75%; padding:3% 0; font-size:20px; }

/* productArea 商品區*/
.productArea{ width:96%; }
.namebox_brand{ font:normal normal 14px/1.3 "微軟正黑體";}
span.price{ font-size:1.1em;}

}
