

/* 共用 ------------------------------- */
	.ems{font-weight:bold;color:#dc070a;/*暗紅色*/}


/*productsarea + booksarea 共用*/
.tagregion .tagcol{margin:0;padding:0 0 0 1%;width:auto;height:auto;}
.tagcol .tagunit{float:left;list-style-type:none;margin:0 1% 0 0;padding:0;width:24%;height:37px;font:normal normal 16px/37px "微軟正黑體";text-align:center;}
.tagunit a{display:block;width:100%;height:100%;color:#7c7c7c;text-decoration:none;background-color:#eee;/*中灰色*/}
.tagunit a:hover, .tagunit a.on{color:#c3001c;background:transparent url(../images/tagunit_b.gif) left top repeat-x;/*透明*/ text-decoration:none;}
.tagunit a:hover span, .tagunit a.on span { margin:0 auto; background-color:#ffffff; border-radius:100px; padding:0 5px;}

.picbox{margin:0 0 5px 0;padding:0;width:100%;height:auto;text-align:center;z-index: 999999;position: relative;}
.namebox{margin:0 auto 5px;padding:0;width:90%;height:1.4em;font:normal normal 16px/1.3 "微軟正黑體";text-align:center;overflow:hidden;}
.price1box,
.price2box{margin:0 0 2px 0;padding:0;width:100%;height:auto;font:normal normal 15px/1.2 "微軟正黑體";text-align:center;color:#2b2525;}
.btnbuy1box{margin:0 auto;padding:0;width:129px;height:28px;font:normal normal 12px/28px "微軟正黑體";text-align:center;background:transparent url(../images/btn_buy2_a.gif) left top no-repeat;}
.btnbuy2box{margin:7px auto 0;padding:0;width:72px;height:21px;background:transparent url(../images/btn_buy_s_a.gif) left top no-repeat;}

.pricePoint{ padding:8px 0; margin:10px 0; background-color:#ef527a; font-size:15px; color:#ffffff; font-weight:bold; text-align:center; line-height:1.2;}
.pricePoint span{ color:#FF0; font-size:1.1em;}
.pricePoint .thLine{ text-decoration:line-through;}

.namebox a{
	color: #0047a2;
	text-decoration: none;
	font-weight: bold;
}
.namebox a:hover{color:#42c5ad; text-decoration:underline;}

.btnbuy1box a{display:block;width:100%;height:100%;color:#FFF;text-decoration:none;}
.btnbuy2box a{display:block;width:100%;height:100%;text-decoration:none;}
.btnbuy2box a span{display:none;}
.btnbuy1box a:hover{opacity:0.8;}
.btnbuy2box a:hover{position:relative;left:1px;top:1px;}

.more{margin:0;padding:0 1% 0 0;width:auto;height:auto;font:normal normal 12px/1.2 "微軟正黑體";text-align:right;}
.more a{color:#000;text-decoration:none;}
.more a:hover{color:#666;text-decoration:underline;}

/*weekarea*/
.weekarea .titlecolumn_week{margin:0 0 10px 0;padding:0;width:100%;height:auto;text-align:center;}
.weekarea .contentcolumn_week{margin:0;padding:0;width:100%;height:auto;}

.titlecolumn_week img{margin:0 auto;}
.contentcolumn_week .weekfield{margin:0 auto;padding:0;width:950px;height:auto;}

.timeLimit { background-color:#c9343e; color:#ffffff; text-align:center; padding-bottom:2px;}
.wSaleTitle { color:#27c185; text-align:center; padding:10px 17px 0 17px; height:3em; line-height:1.2; overflow:hidden;}
.weekarea .namebox a { color:#7f7f7f;}

/*swiperregion_week*/
.swiperregion_week{position:relative;margin:0 auto;width:100%;height:auto;}

.swiper-container_week{width:82%;height: 100%;overflow:hidden;}
.swiper-container_week.bnBOX{width:100%;height: 100%;overflow:hidden;}
.swiper-container_week .swiper-slide{width:32.7% !important ;margin-right:0.6%;}
.swiper-container_week.bnBOX .swiper-slide{width:20% !important ;margin-right:0.6%;}

.swiper-container_week .swiper-button-next
{position:absolute;right:0.8%;width:3%;height:74px;background:#ff900a url(../images/icon-ar-right-w.png) center center no-repeat;background-size:18px 30px; margin-top:-35px;}
.swiper-container_week .swiper-button-prev
{position:absolute;left:18%;width:3%;height:74px;background:#ff900a url(../images/icon-ar-left-w.png) center center no-repeat;background-size:18px 30px; margin-top:-35px;}

.swiper-container_week .bnBOX.swiper-button-next
{position:absolute;right:-1.2%%;width:3%;height:74px;background:#ff900a url(../images/icon-ar-right-w.png) center center no-repeat;background-size:18px 30px;}
.swiper-container_week.bnBOX .swiper-button-prev
{position:absolute;left:-1.5%;width:3%;height:74px;background:#ff900a url(../images/icon-ar-left-w.png) center center no-repeat;background-size:18px 30px;}


.swiper-slide .weekregion{margin:0 0.5%;padding:7% 0 9% 0;width:auto;height:auto;background:#fff; border-radius:13px;}/*重要！margin 可調各單位間距*/

.weekregion .weekinner{margin:0 auto;padding:0 ;width:auto;height:auto;}/*重要！可調與箭頭的距離*/

.weekinner .picbox img{width:auto;height:225px; }

/*================================================================================================================================================================*/
@media screen and (min-width:768px) and (max-width:1023px) {	

	/* 共用 ------------------------------- */
	.date{float: right;padding-right: 3px;margin-top: 5px;color: #474747;font-size:12px;font-family: "微軟正黑體" , "Arial";}
	img{border:0;vertical-align:bottom; width:100%;}
	.ems{font-weight:bold;color:#dc070a;/*暗紅色*/}

	/*productsarea + booksarea 共用-------------------------*/
	.picbox{margin:0 0 5px 0;padding:0;width:100%;height:auto;text-align:center;}
	.namebox{margin:0 auto 5px;padding:0;width:90%;height:2.6em;font:normal normal 13px/1.3 "微軟正黑體";text-align:center;overflow:hidden;}
	.price1box,
	.price2box{margin:0 0 5px 0;padding:0;width:100%;height:auto;font:normal normal 13px/1.2 "微軟正黑體";text-align:center;color:#2b2525;}
	.btnbuy1box{margin:0 auto;padding:0;width:129px;height:28px;font:normal normal 12px/28px "微軟正黑體";text-align:center;background:transparent url(../images/btn_buy2_a.gif) left top no-repeat;}
	.btnbuy2box{margin:10px auto 0;padding:0;width:72px;height:21px;background:transparent url(../images/btn_buy_s_a.gif) left top no-repeat;}
		
	.namebox a{color:#0047a2;text-decoration:none;}
	.namebox a:hover{color:#42c5ad; text-decoration:underline;}
		
	.btnbuy1box { width:112px; border-radius:5px;}
	.btnbuy2box { width:72px; border-radius:5px;}
	.btnbuy1box a{display:block;width:112px;height:100%;color:#FFF;text-decoration:none;}
	.btnbuy2box a{display:block;width:112px;height:100%;text-decoration:none;}
	.btnbuy2box a span{display:none;}
	.btnbuy1box a:hover{opacity:0.8;}
	.btnbuy2box a:hover{position:relative;left:1px;top:1px;}
		
	
	/*weekarea -------------------------*/
	.weekarea .titlecolumn_week{margin:0 auto 10px auto;padding:0;width:95%;height:auto;text-align:center;}
	.weekarea .contentcolumn_week{margin:0;padding:0;width:100%;height:auto;}
	
	.titlecolumn_week img{margin:0 auto;}
	.contentcolumn_week .weekfield{margin:0 auto;padding:0;width:95%;height:auto;}
	
	.timeLimit { background-color:#c9343e; color:#ffffff; text-align:center; padding-bottom:2px;}
	.wSaleTitle { color:#27c185; text-align:center; padding:10px 17px 2px 17px; height:3em; line-height:1.2; overflow:hidden;}
	.weekarea .namebox a { color:#7f7f7f;}
	
	/* swiperregion_week ------------------------------------------------------------------------------------------- */
	.swiperregion_week{position:relative;margin:0 auto;width:100%;height:auto;}
	
	.swiper-container_week{width: 100%;height: 100%;overflow:hidden;}
	.swiper-container_week .swiper-slide{width:32.7% !important;background: #fff; margin:0 0.6%;}
	
	.swiper-container_week .swiper-button-next
	{position:absolute;right:-1.5%;width:3%;height:74px;background:#ff900a url(../images/icon-ar-right-w.png) center center no-repeat;background-size:18px 30px;}
	.swiper-container_week .swiper-button-prev
	{position:absolute;left:-1.5%;width:3%;height:74px;background:#ff900a url(../images/icon-ar-left-w.png) center center no-repeat;background-size:18px 30px;}
	
	.swiper-slide .weekregion{margin:0 0%;padding:8px 0 25px 0;width:auto;height:auto;}/*重要！margin 可調各單位間距*/
	
	.weekregion .weekinner{margin:0 auto;padding:0 ;width:auto;height:auto;}/*重要！可調與箭頭的距離*/
	
	.weekinner .picbox img{width:auto;height:130px;border:1px solid #BBB;}
	
	
	
		
}

/*================================================================================================================================================================*/
@media screen and (max-width:767px) {

	/* 共用 ------------------------------- */
	.date{float: right;padding-right: 3px;margin-top: 5px;color: #474747;font-size:12px;font-family: "微軟正黑體" , "Arial";}
	img{border:0;vertical-align:bottom; width:100%;}
	.ems{font-weight:bold;color:#dc070a;/*暗紅色*/}
	
	/*productsarea + booksarea 共用*/
	.tagregion .tagcol{margin:0;padding:0 0 0 1%;width:auto;height:auto;}
	.tagcol .tagunit{float:left;list-style-type:none;margin:0 1% 2px 0;padding:0;width:49%;height:37px;font:normal normal 16px/37px "微軟正黑體";text-align:center;}
	.tagunit a{display:block;width:100%;height:100%;color:#7c7c7c;text-decoration:none;background-color:#eee;/*中灰色*/}
	.tagunit a:hover, .tagunit a.on{color:#c3001c;background:transparent url(../images/tagunit_b.gif) left top repeat-x;/*透明*/ text-decoration:none;}
	.tagunit a:hover span, .tagunit a.on span { margin:0 auto; background-color:#ffffff; border-radius:100px; padding:0 5px;}
	
	
	.picbox{margin:0 0 5px 0;padding:0;width:100%;height:auto;text-align:center;}
	.namebox{margin:0 auto 5px;padding:0;width:90%;height:2.6em;font:normal normal 13px/1.3 "微軟正黑體";text-align:center;overflow:hidden;}
	.price1box,
	.price2box{margin:0 0 2px 0;padding:0;width:100%;height:auto;font:normal normal 13px/1.2 "微軟正黑體";text-align:center;color:#2b2525;}
	.btnbuy1box{margin:0 auto 15px auto;padding:0;width:129px;height:28px;font:normal normal 12px/28px "微軟正黑體";text-align:center;background:transparent url(../images/btn_buy2_a.gif) left top no-repeat;}
	.btnbuy2box{margin:7px auto 0;padding:0;width:72px;height:21px;background:transparent url(../images/btn_buy_s_a.gif) left top no-repeat;}
	
	.namebox a{color:#0047a2;text-decoration:none;}
	.namebox a:hover{ color:#42c5ad; text-decoration:underline;}

	.pricePoint{ padding:6px 4px; box-sizing:border-box; margin:10px 0; }
	
	.btnbuy1box { width:112px; border-radius:5px;}
	.btnbuy2box { width:72px; border-radius:5px;}
	.btnbuy1box a{display:block;width:112px;height:100%;color:#FFF;text-decoration:none;}
	.btnbuy2box a{display:block;width:112px;height:100%;text-decoration:none;}
	.btnbuy2box a span{display:none;}
	.btnbuy1box a:hover{opacity:0.8;}
	.btnbuy2box a:hover{position:relative;left:1px;top:1px;}
	
	
	.more{margin:0;padding:0 1% 0 0;width:auto;height:auto;font:normal normal 12px/1.2 "微軟正黑體";text-align:center;}
	.more a{color:#000;text-decoration:none;}
	.more a:hover{color:#666;text-decoration:underline;}
	
	.CartIcon { margin:0 !important;}
	
	
	/*weekarea*/
	.weekarea .titlecolumn_week{margin:0 auto 8px auto;padding:0;width:96%;height:auto;text-align:center;}
	.weekarea .contentcolumn_week{margin:0;padding:0;width:100%;height:auto;}
	
	.titlecolumn_week img{margin:0 auto;}
	.contentcolumn_week .weekfield{margin:0 auto;padding:0;width:100%;height:auto;}
	
	.timeLimit { background-color:#c9343e; color:#ffffff; text-align:center; padding-bottom:2px;}
	.wSaleTitle { color:#27c185; text-align:center; padding:10px 17px 2px 17px; height:3em; line-height:1.2; overflow:hidden;}
	.weekarea .namebox a { color:#7f7f7f;}
	
	/* swiperregion_week */
	.swiperregion_week{position:relative;margin:0 auto;width:100%;height:auto;}
	
	.swiper-container_week{width: 100%;height: 100%;overflow:hidden;}
	.swiper-container_week .swiper-slide{width:31.2% !important;background: #fff; margin:0 0 0 1.55%;}
	.swiper-container_week.bnBOX .swiper-slide{width:20% !important;background: #fff; margin-right:1%;}
	
	.swiper-container_week .swiper-button-next
	{position:absolute;right:0%;width:5%;height:74px;background:#ff900a  url(../images/icon-ar-right-w.png) center center no-repeat;background-size:18px 30px;}
	.swiper-container_week .swiper-button-prev
	{position:absolute;left:-1%;width:5%;height:74px;background:#ff900a  url(../images/icon-ar-left-w.png) center center no-repeat;background-size:18px 30px;}
	
	
	.swiper-container_week .bnBOX.swiper-button-next
	{position:absolute;right:0%;width:5%;height:74px;background:#ff900a url(../images/icon-ar-right-w.png) center center no-repeat;background-size:18px 30px;}
	.swiper-container_week.bnBOX .swiper-button-prev
	{position:absolute;left:-1%;width:5%;height:74px;background:#ff900a url(../images/icon-ar-left-w.png) center center no-repeat;background-size:18px 30px;}
	
	.swiper-slide .weekregion{margin:0 0%;padding:7% 0 9% 0;width:auto;height:auto;}/*重要！margin 可調各單位間距*/
	.weekregion .weekinner{margin:0 auto;padding:0 ;width:auto;height:auto;}/*重要！可調與箭頭的距離*/
	.weekinner .picbox img{max-width:100%; width:auto; height:130px;}
	
}